@page
@model music_asp_web_page.Pages.SongsModel
@{
}


<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Song[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Song[0].ArtistId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Song)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistId)
                </td>
                @*<td>
                    <a asp-page="./Edit" asp-route-id="@item.ArtistId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ArtistId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ArtistId">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>

<div id="grid-item">
    Hi
</div>
<script>
    function fetchData() {
        fetch('https://api.nytimes.com/svc/topstories/v2/arts.json?api-key=s3sidQNE043xhMtYMOTXG0E044n5RsFd')
            .then(response => {
                console.log(response)
                if (!response.ok) {
                    thorw("Error");
                }
                return response.json()
            })
            .then(data => {
                console.log(data.results[0])
                const art = data.results
                const html = `
                        <a href='${art[0].multimedia[0].url}'><img src='${art[0].multimedia[3].url}' width='450' height='250'></a>
                        <a href='${art[0].url}'><h4>${art[0].title}</h4></a>
                        <p>${art[0].abstract}</p>
                     `
                document.querySelector('.grid-item').innerHTML = html;
            }).catch(error => {
                console.log(error);
            })
    };
    fetchData();
</script>